; Database Configuration
#DB_URL=jdbc:mysql://kdbs-db.mysql.database.azure.com:3306/kdbs?useSSL=true&sslMode=REQUIRED&serverTimezone=UTC
DB_URL=jdbc:mysql://localhost:3306/kdbs
DB_USERNAME=root
DB_PASSWORD=root
SPRING_JPA_HIBERNATE_DDL_AUTO=update

; Naver OAuth2 Configuration
NAVER_CLIENT_ID=ZayPHTi6wWIVeeh59Lww
NAVER_CLIENT_SECRET=RXRPE3qLG7
NAVER_REDIRECT_URI=http://localhost:8080/api/auth/naver/callback

; Google OAuth2 Configuration
GOOGLE_CLIENT_ID=406979651051-3d9uevehro42gn39l5p15k3716bc5nvk.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:8080/api/auth/google/callback

; JWT Configuration
JWT_SIGNER_KEY=OG3aRIYXHjOowyfI2MOHbl8xSjoF/B/XwkK6b276SfXAhL3KbizWWuT8LB1YUVvh

; TossPayment Configuration
TOSS_CLIENT_KEY=test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm
TOSS_SECRET_KEY=test_gsk_docs_OaPz8L5KdmQXkzRz3y47BMw6
TOSS_SUCCESS_URL=http://localhost:8080/api/toss/success
TOSS_FAIL_URL=http://localhost:8080/api/toss/fail


; Mail Configuration
MAIL_USERNAME=kdbs.work@gmail.com
MAIL_PASSWORD=qkbfiwzaxwbqqlun

; Directory Configuration
UPLOAD_DIR=./uploads

; Frontend URL
FRONTEND_URL=http://localhost:3000
